.App {
  text-align: center;
}

.App-header {
  background-color: #696969;
  height: 20%;
  padding: 20px;
  color: #FFFFF0;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: x-large;
}

.App-footer {
  background-color: #696969;
  height: 20%;
  padding: 20px;
  width: 100%;
  color: #FFFFF0;
}

.dropdown {
  margin: 1em 0;
}
